table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

thead {
    background-color: rebeccapurple;
}

tr:hover{
    background-color: color-mix(in srgb, cornflowerblue 50%, cadetblue 50%);
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
